<a href="https://colab.research.google.com/github/nenuchepanu001/SqlQuery/blob/main/conditionalexpressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**--CASE**

SELECT SAL,
CASE
WHEN SAL <1000 THEN 'LOW AMOUNT'
WHEN SAL <3000 THEN 'MEDIUM AMOUNT'
ELSE 'HIGH AMOUNT'
END
FROM EMP;

SELECT ACTUAL_DEPARTURE-SCHEDULED DEPARTURE
CASE WHEN ACTUAL_DEPARTURE-SCHEDULED DEPARTURE  < '00:05' tHEN 'ONTIME'
END
FROM FLIGHTS

select rating
SUM(case
when rating IN ('PG','G') then 1
ELSE 0
END) as no_of_ratings
from film
group by rating;

**--COALesce**

--returns first value of list of values which is not null

select coalesce(actual-scheduled,'not arrived yer 00:00') from flights;

**--CAST**

--changes the data type of a value

select coalesce(cast(actual-scheduled as varchar),'not arrived') from flights;

select length(cast(actual_arrival as varchar)) from flights;


select cast (ticket_no as bigint) from tickets;

**-- rEPLACE**
-- replaces text from a string in a column with another text

select ENAME,replace(JOB,'PRESIDENT','PRES') as replace from emp;