<a href="https://colab.research.google.com/github/nenuchepanu001/SqlQuery/blob/main/DataManipulation_Views.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**update**

    update <tablename>
    set genre='Country Music'

    update <tablename>
    set genre='Pop Music'
    where song_id=4

    update songs
    set price=song_id+0.99

    update customer
    set initials = left(firstname,1)||'.'||left(lastname,1)||'.'||

** Delete**
--delete rows from a table

    delete from <tablename>
    where condition

    delete from songs

    delete from songs
    where song_id in (2,3)
    returning song_id

    delete from songs
    where song_id in (2,3)
    returning *

**Create table as**

    create table <tablename>
    as <query>

    create table customer_anonymous
    as
    select customer_id,initials
    from customer
    where firstname like 'C%'

** Create view**

-- data will not storage physically

    create view <viewname>
    as query

    create view customer_anonymous
    as
    select customer_id,initials
    from customer
    where firstname like 'C%

**materialized view**

    create materialized view <viewname>
    as query

    refresh materialized view <viewname>

** Manage views**

    alter,drop views

    create or replace view

    drop view customer_anonymous
    drop materialized view customer_anonymous

    alter view customer_anonymous
    rename to v_customer_info