<a href="https://colab.research.google.com/github/nenuchepanu001/SqlQuery/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**--String functions**

select upper(JoB) from emp;

select lower(JoB) as job_email from emp;

select JOB,length(JOB) from emp;

select ENAME from emp where length(ENAME) >5;

select lower(firstname),lower(lastname),lower(email) from customer where length(firstname) >10 or length(lastname) >10;

select left(firstname,2) ,firstname from customer;-- to pick part of string

select right(firstname,2) ,firstname from customer;

--only 2nd letter of firstname

select right(ENAME,2) from emp;

select right(email,5),left(right(email,4),1) from customer;

**--concat**

select first_name || last_name from customer -- concat

select first_name || '.' || last_name from customer

select left(email,1) || '***' || right(email,19) from customer

**--POSITION**
    
select position('-' IN HIREDATE),HIREDATE from customer;

select lastname || ',' || left(email,Position('.' IN email),-1) from customer;

**-- SUBSTRING**
-- extract substring from a given string

select email,substring(email,from 3 for 2) from customers;

select JOB,substring (JOB, 2,4) from emp;

**--Extract**

-- used to extract parts of timestamp/date

select HIREDATE,extract(day from HIREDATE) from emp;

select HIREDATE,extract(day from HIREDATE),count(*) from emp group by extract(month from HIREDATE) order by count(*) desc;


**-- TO CHAR**
-- used to get custom formats for timestamp/date/numbers

select to_char(payment_date,'MM-YYYY') from payment;


**-- Interval/timestamps**
select current_timestamp,HIREDATE from emp;

select current_timestamp,HIREDATE, extract(day from current_timestamp - HIREDATE) from emp;