<a href="https://colab.research.google.com/github/nenuchepanu001/SqlQuery/blob/main/Joins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**--INNER JOIN**

-- Only rows appear in both tables

select * from emp e INNER JOIN dept d on e.DEPTNO = d.DEPTNO;

select e.*,d.DNAME,d.LOC from emp e INNER JOIN dept d on e.DEPTNO = d.DEPTNO;

select fare_conditions count(*) from boarding_passes b INNER JOIN seats s on s.seat_no=b.seat_no group by fare_conditions;

**--FullOuter JOIN**

select * from tableA a full outer join tableB b on  a.emp= b.emp;

select * from boarding_passes b full outer join tickets t on b.ticket_no=t.ticket_no;

--find the tickets that don't have boarding pass

select * from boarding_passes b full outer join tickets t on b.ticket_no=t.ticket_no where b.ticket_no is null;

select * from emp e full outer join dept d on e.DEPTNO = d.DEPTNO;

select * from emp e full outer join dept d on e.DEPTNO = d.DEPTNO where e.EMPNO is null;


**--Left outer join**

select * from emp e left join dept d on e.DEPTNO=d.DEPTNO;

select * from emp e left join dept d on e.DEPTNO=d.DEPTNO where e.DEPTNO is null;

select s.seat_no,count(*) from seats s left join boarding_passed b on s.seat_no=b.seat_no  group by s.seat_no order by count(*) desc


select first_name,last_name,phone,district from customer c
left join address a
on c.address_id=a.address_id
where district ='Texas'

select * from address a
left join customer c
on c.address_id=a.address_id where c.customer_id is null

** -- multiple conditions**
select * from TableA a
INNER JOIN TableB b
on a.first_name=b.first_name and a.last_name=b.last_name


select * from TableA a
INNER JOIN TableB b
on a.first_name=b.first_name and a.last_name='Jones'

** -- JOining multiple tables**

select employee,co.country from sales s INNER Join city ci on s.city_id = ci.city_id inner join country co on ci.country_id = co.country_id