<a href="https://colab.research.google.com/github/nenuchepanu001/SqlQuery/blob/main/Joins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**--INNER JOIN**

-- Only rows appear in both tables

select * from emp e INNER JOIN dept d on e.DEPTNO = d.DEPTNO;

select e.*,d.DNAME,d.LOC from emp e INNER JOIN dept d on e.DEPTNO = d.DEPTNO;

select fare_conditions count(*) from boarding_passes b INNER JOIN seats s on s.seat_no=b.seat_no group by fare_conditions;

**--FullOuter JOIN**

select * from tableA a full outer join tableB b on  a.emp= b.emp;

select * from boarding_passes b full outer join tickets t on b.ticket_no=t.ticket_no;

--find the tickets that don't have boarding pass

select * from boarding_passes b full outer join tickets t on b.ticket_no=t.ticket_no where b.ticket_no is null;

select * from emp e full outer join dept d on e.DEPTNO = d.DEPTNO;

select * from emp e full outer join dept d on e.DEPTNO = d.DEPTNO where e.EMPNO is null;


**--Left outer join**

select * from emp e left join dept d on e.DEPTNO=d.DEPTNO;

select * from emp e left join dept d on e.DEPTNO=d.DEPTNO where e.DEPTNO is null;

select s.seat_no,count(*) from seats s left join boarding_passed b on s.seat_no=b.seat_no  group by s.seat_no order by count(*) desc