<a href="https://colab.research.google.com/github/nenuchepanu001/SqlQuery/blob/main/sets_rollups_selfjoins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** grouping sets**

    select null as month,staff_id,sum(amount) from payment group by staff_id
    union
    select to_char(payment_date,'Month') as month,null as staff_id,sum(amount) from payment group by to_char(payment_date,'month')


    select to_char(payment_date,'Month') as month,staff_id,sum(amount) from payment
    group  by grouping sets((staff_id),(month),(staff_id,month)) order by 1,2