<a href="https://colab.research.google.com/github/nenuchepanu001/SqlQuery/blob/main/sets_rollups_selfjoins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**grouping sets**

    select null as month,staff_id,sum(amount) from payment group by staff_id
    union
    select to_char(payment_date,'Month') as month,null as staff_id,sum(amount) from payment group by to_char(payment_date,'month')


    select to_char(payment_date,'Month') as month,staff_id,sum(amount) from payment
    group  by grouping sets((staff_id),(month),(staff_id,month)) order by 1,2



**ROLL UP**

    GROUP BY ROLLUP(COL1,COL2,COL3)

    SELECT 'Q' || TO_CHAR(PAYMENT_DATE,'Q') AS QUARTER,
    EXTRACT(MONTH FROM PAYMENT_DATE) AS MONTH,
    DATE(PAYMENT_DATE),SUM(AMOUNT) FROM PAYMENT GROUP BY
    ROLLUP('Q' || TO_CHAR(PAYMENT_DATE,'Q') AS QUARTER,
    EXTRACT(MONTH FROM PAYMENT_DATE) AS MONTH,
    DATE(PAYMENT_DATE)) OREDER BY 1,2,3


**cube**

    GROUP BY CUBE(COL1,COL2,COL3)

    SELECT CUST_ID,STAFF_ID,DATE(PAYMENT_DATE),SUM(AMOUNT) FROM PAYMENT
    GROUP BY CUBE( CUST_ID,STAFF_ID,DATE(PAYMENT_DATE)) ORDER BY 1,2,3

**SELF JOIN**

    SELECT e1.EMPNO,e1.ENAME as employee,m1.ENAME as manager FROM emp e1 left join emp m1 on e1.MGR=m1.EMPNO;

**Cross join**

    select  e1.ENAME,d1.DNAME from emp e1 cross join dept d1

**Natural Join**

-- automatically joins using columns with same column name
    
    select * from payment natural left join customer

    select * from payment natural inner join customer