<a href="https://colab.research.google.com/github/nenuchepanu001/SqlQuery/blob/main/Sql_Grouping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**--CHALLENGES OF FILTERING**

SELECT COUNT(*) AS NO_OF_MOVIES FROM FILM WHERE DESCRIPTION LIKE '%Saga%' AND (TITLE LIKE 'A%' OR TITLE LIKE '%R')

SELECT * FROM CUSTOMER WHERE FIRST_NAME LIKE '%ER%' AND FIRST_NAME LIKE '%_A%' ORDER BY LAST_NAME DESC;

SELECT COUNT(*) FROM PAYMENT WHERE (AMOUNT =0 OR AMOUNT BETWEEN 3.99 AND 7.99) AND PAYMENT_DATE BETWEEN '2020-05-01' AND '2020-05-02'

**--GROUPING**

**--AGGREGATE FUNC**

SELECT SUM(SAL) FROM EMP; --ANOTHER COLUMN SHOWING IS NOT POSSIBLE CAN USE ONLY WHILE GROUPING

SELECT AVG(SAL) FROM EMP;

SELECT ROUND(AVG(SAL),2) FROM EMP;

SELECT SUM(SAL),ROUND(AVG(SAL)) FROM EMP;

SELECT MIN(REPLACEMENT_COST),MAX(REPLACEMENT_COST),ROUND(AVG(REPLACEMENT_COST),2) AS AVG,SUM(REPLACEMENT_COST) FROM FILM

**--GROUP BY**

SELECT JOB,ROUND(AVG(SAL),2) AS AVG_SAL FROM EMP GROUP BY JOB;

SELECT JOB,ROUND(AVG(SAL),2) AS AVG_SAL,MAX(SAL) FROM EMP GROUP BY JOB ORDER BY AVG_SAL;

SELECT STAFF_ID,SUM(AMOUNT),COUNT(*) FROM PAYMENT GROUP BY STAFF_ID ORDER BY SUM (AMOUNT) DESC

SELECT STAFF_ID,SUM(AMOUNT),COUNT(*) FROM PAYMENT WHERE AMOUNT <> 0 GROUP BY STAFF_ID

**--HAVING**

SELECT JOB,SUM(SAL) FROM EMP GROUP BY JOB HAVING SUM(SAL)>4000;