<a href="https://colab.research.google.com/github/nenuchepanu001/SqlQuery/blob/main/Sqlqueries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SELECT * FROM EMP;

SELECT ENAME,JOB FROM EMP;

-- ORDER BY

SELECT ENAME , SAL FROM EMP ORDER BY SAL;

SELECT ENAME , SAL FROM EMP ORDER BY ENAME DESC ;

SELECT ENAME ,SAL FROM EMP ORDER BY ENAME, SAL;

SELECT ENAME FROM EMP ORDER BY ENAME DESC;