<a href="https://colab.research.google.com/github/nenuchepanu001/SqlQuery/blob/main/Sqlqueries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SELECT * FROM EMP;

SELECT ENAME,JOB FROM EMP;

**-- ORDER BY**

SELECT ENAME , SAL FROM EMP ORDER BY SAL;

SELECT ENAME , SAL FROM EMP ORDER BY ENAME DESC ;

SELECT ENAME ,SAL FROM EMP ORDER BY ENAME, SAL;

SELECT ENAME FROM EMP ORDER BY ENAME DESC;

**-- DISTINCT**

SELECT DISTINCT ENAME FROM EMP;

SELECT DISTINCT JOB FROM EMP;

SELECT DISTINCT ENAME, JOB FROM EMP;

SELECT DISTINCT AMOUNT FROM PAYMENT ORDER BY AMOUNT DESC;

**--LIMIT**

SELECT ENAME FROM EMP LIMIT 2;


**-- COUNT**

SELECT COUNT(*) FROM EMP;

SELECT COUNT(ENAME) FROM EMP; --IF NULL VALUES EXIST COUNT MAY BE DIFFERENT

SELECT COUNT(DISTINCT JOB) FROM EMP;

**-- CHALLENGE 1**

SELECT DISTINCT DISTRICTS FROM ADDRESS;

SELECT RENTAL_DATE FROM RENTAL ORDER BY RENTAL_DATE DESC LIMIT 1;

SELECT COUNT(*) FROM FILM

SELECT COUNT(DISTINCT LAST_NAME) FROM CUSTOMER