<a href="https://colab.research.google.com/github/nenuchepanu001/SqlQuery/blob/main/Sqlqueries_Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**--WHERE**

SELECT * FROM EMP WHERE SAL = 5000;

SELECT ENAME, JOB FROM EMP WHERE ENAME='KING';

SELECT * FROM EMP WHERE SAL = 3000;

SELECT COUNT(*) FROM EMP WHERE SAL = 3000;

SELECT ENAME FROM EMP WHERE ENAME ='CLARK';

SELECT JOB FROM EMP WHERE ENAME='CLARK';

SELECT LAST_NAME FROM CUSTOMER WHERE FIRST_NAME='ERICA';

**-- WHERE OPERATORS**

SELECT * FROM EMP WHERE SAL >3000;

SELECT * FROM EMP WHERE SAL <1000;

SELECT * FROM EMP WHERE SAL != 3000;

SELECT * FROM EMP WHERE SAL <> 5000; -- ANOTHER WAY OF NOT EQUAL SIGN

SELECT * FROM EMP WHERE COMM IS NULL;

SELECT COUNT(*) FROM EMP WHERE COMM IS NULL;

SELECT * FROM EMP WHERE COMM IS NOT NULL;

SELECT * FROM EMP WHERE  SAL >2000 ORDER BY SAL;

SELECT COUNT(*) FROM RENTALS WHERE RETURN_DATE IS NULL;

SELECT PAYMENT_ID,AMOUNT FROM PAYMENTS WHERE AMOUNT <=2 ORDER BY AMOUNT DESC;


**-- AND/OR**

SELECT * FROM EMP WHERE ENAME = 'KING' AND JOB='PRESIDENT';

SELECT * FROM EMP WHERE ENAME = 'KING' OR JOB='MANAGER';

SELECT * FROM EMP WHERE EMPNO = 7698 OR (EMPNO=7839 AND JOB='PRESIDENT');

SELECT * FROM PAYMENTS WHERE (CUSTOMER_ID = 322 OR CUSTOMER_ID = 346 OR CUSTOMER_ID=354) AND (AMOUNT < 2 OR AMOUNT >10) ORDER BY CUSTOMER_ID ASC, AMOUNT DESC;

**-- BETWEEN**

SELECT * FROM EMP WHERE SAL BETWEEN 100 AND 1000;

SELECT * FROM EMP WHERE SAL NOT BETWEEN 100 AND 1000;

SELECT PYAMENT_ID, AMOUNT FROM PAYMENT WHERE AMOUNT BETWEEN '2021-01-24 0:00' AND '2020-01-26 12:00';

SELECT COUNT(*) FROM PAYMENT WHERE AMOUNT BETWEEN 1.99 AND 3.99;
AND PAYMENT_DATE BETWEEN '2020-01-26' AND '2020-01-27 23:59';

** --IN**

SELECT * FROM EMP WHERE EMPNO IN (7839,7698,7782);

SELECT * FROM EMP WHERE EMPNO NOT IN (7839,7698,7782);

SELECT * FROM PAYMENTS WHERE CUSTOMER_ID IN (12,25,67,93,124,234) AND AMOUNT IN (4.99,7.99,9.99)
AND PAYMENT_DATE BETWEEN '2020-01-01' AND '2020-02-01';


**--LIKE**

SELECT * FROM EMP WHERE JOB LIKE 'C%';

SELECT * FROM EMP WHERE JOB LIKE '%L%';

SELECT * FROM EMP WHERE ENAME LIKE '_COTT';

SELECT * FROM EMP WHERE ENAME LIKE '_C%';

SELECT COUNT(*) FROM FILM WHERE DESCRIPTION LIKE '%DOCUMENTARY%';

SELECT COUNT(*) FROM CUSTOMER WHERE FIRST_NAME LIKE '___' AND (LAST_NAME LIKE '%X' OR LAST_NAME LIKE '%Y');


**--COMMENTS AND ALIASES**

-- SINGLE LINE COMMENT
/*...*/ MULTIPLE LINE COMMENT