<a href="https://colab.research.google.com/github/nenuchepanu001/SqlQuery/blob/main/union_subqueries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**--union**

--combining rows wifth correct order
-- no of columns and datatype must match
-- to get duplicates as well we use  union all
    
select firstname,sales from vancouver
union
select firstname,sales from delhi

select firstname,sales from vancouver
union all
select firstname,sales from delhi


**-- subqueries in where**

select * from emp where SAL >(select AVG(SAL) from emp);

select * from payment where customer_id = (select customer_id from customer where first_name='ADAM')

select * from payment where customer_id IN (select customer_id from customer where first_name like'A%')

select * from film where length > (select AVG(length) of film);

select * from film
where film_id in(select film_id from inventory where store_id=2 group by film_id having count(*) >3)

select first_name,last_name from customer
where customer_id in (select customer_id from payment where DATE(payment_date)='2020-01-02')

**--subqueries from**

select avg(total_amount) from (select customer_id, sum(amount) as total_amount from payment group by customer_id) as subquery


**-- subquery in select**

select *,(select AVG(amount) from payment) from payment

**--CORRELATED SUBQUERIES**


select * from emp e1 where sales > (select avg(sales) from emp e2 where e1.city=e2.city);

**-- correlated select**

select firstname,sales,(select min(sales) from employee e3 where e1.city=e3.city) from employee e1
where sales > (select avg(sales) from employees e2 where e1.city=e2.city)

select firstname,sales,(select min(sales) from employee e3 where e1.city=e3.city) from employee e1
where sales > (select avg(sales) from employees e2 where e1.city=e2.city)