<a href="https://colab.research.google.com/github/nenuchepanu001/SqlQuery/blob/main/usrdfndfunc_SP_transac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**user defined functions**

    create function <function_name> (param1,param2,..) returns return_datatype
    language plpgsql
    AS
    $$
    DECLARE
    <variable declaration>;
    BEGIN
    <function_definition>
    END
    $$
*****************************************
    create function first_func(c1 INT,c2 INT)
    returns int
    language plpgsql
    as
    $$
    DECLARE
    c3 INT;
    BEGIN
    select c1+c2+c3
    into c3;
    return c3;
    END
    $$
***********************************************
    create function count_rr (min_r decimal(4,2), max_r decimal(4,2)
    returns int
    language plpgsql
    as
    $$
    DECLARE
    MOVIE_COUNT INT;
    BEGIN
    SELECT COUNT(*)
    into movie_count
    FROM FILM
    WHERE RENTAL_RATE BETWEEN min_r AND max_r;
    return movie_count;
    END;
    $$

    select count_rr(0,6) -- to call the function
*********************************************

**Transactions**

-- NOT VISIBLE IN OTHER SESSIONS

    BEGIN;
    OPERATION1;
    OPERATION2;
    COMMIT;

    BEGIN;
    UPDATE EMP
    SET COMM = COMM-100
    WHERE EMPNO=7499;

    UPDATE EMP
    SET COMM = COMM+100
    WHERE EMPNO=7839;
    COMMIT;

**ROLLBACKS**

-- UNDO EVERYTHING IN THE CURRET TRANSACTION THAT HAS NOT BEEN COMMITTED

    BEGIN;
    OPERATION1;
    OPERATION2;
    SAVEPOINT OP2;
    OPERATION3;
    SAVEPOINT OP3;
    OPERATION4;

    RELEASE SAVEPOINT OP3  -- DELETING SAVEPOINT
    COMMIT;    

**sTORED PROCEDURES**

-- STORED PROCEDURE DOES NOT RETURN VALUE

    CREATE PROCEDURE <PROCEDURE_nAME> (PARAM2, PARAM2,..)
    AS
    $$
    DECLARE
    <VARIABLE DECLARATION>
    BEGIN
    <PROCEDURE_DEFINITION>
    RETURN;
    END;
    $$

    CREATE PROCEDURE SP_TRANSFER (TR_AMOUNT INT,SENDER INT,RECIPIENT INT)
    LANGUAGE PLPGSQL
    AS
    $$
    BEGIN
    UPDATE ACC_BALANCE
    SET AMOUNT= AMOUNT - TR_AMOUNT
    WHERE ID= SENDER
    UPDATE ACC_BALANCE
    SET AMOUNT= AMOUNT + TR_AMOUNT
    WHERE ID= RECIPIENT;
    COMMIT;
    END;
    $$

    CALL <STORED_PROCEDURE_NAME>(PARAM1,PARAM2)

    CALL SP_TRANSFER (100,1,2)