<a href="https://colab.research.google.com/github/nenuchepanu001/SqlQuery/blob/main/window_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Over() with partition by**

    select transaction_id,payment_type,customer_id,price_in_transaction,
    count(*) over(partition by payment_type)
    from sales s

    select *,sum(amount) over(partition by customer_id) from payment

    select film_id,title,length,category,avg(length) over(partition by category)
    from  film f

**over with order by**

    select *, sum(amount) over (order by payment_date) from payment

    select *, sum(amount) over (partition by customer_id order by payment_date) from payment

**RANK**
--
    select title,name,length,RANK(),over(order by length desc)
    from film f

    select ENAME,JOB,SAL, RANK() OVER(ORDER BY SAL) FROM EMP;

    select ENAME,JOB,SAL, DENSE_RANK() OVER(ORDER BY SAL) FROM EMP;

    -- to filter we need to use it in sub query for rank

    SELECT * FROM (select ENAME,JOB,SAL, DENSE_RANK() OVER(ORDER BY SAL) as rank FROM EMP) A  where rank=1


    select * from (select EMPNO, rank() over(order by EMPNO) AS RANK FROM EMP) A WHERE RANK=2;

**First_value()**

    --CHECK BELOW QUERY
    select * from (select  SAL,COUNT(*), FIRST_VALUE(COUNT(*)) over(PARTITION BY JOB order by COUNT(*) ASC) AS RANK FROM EMP) ;

**lEAD AND LAG**

    SELECT EMPNO,ENAME,JOB,SAL,LEAD(SAL) OVER(PARTITION BY JOB ORDER BY SAL) A FROM EMP;

    SELECT EMPNO,ENAME,JOB,SAL,LAG(SAL) OVER(PARTITION BY JOB ORDER BY SAL) A FROM EMP;